* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxContainer{
    margin: 5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item {
    float: left;
    width: 700px;
    height: 300px;
    position: relative;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.boxImgTumblr{
    border: 1px solid black;
}



.item .text {
    position: absolute;
    right: 20px;
    bottom: 20px;
    text-align: right;
    color: white;
}

.btnActive{
    padding: .5rem;
}

.imgTumblr{
    width: 60px;
    aspect-ratio: 1/1;
    margin: .1rem;
}

.biancoNero{
    filter: grayscale(1);
    margin: .3rem;
    width: 50px;
}