* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxContainer{
    margin: 5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item {
    float: left;
    width: 700px;
    height: 300px;
    position: relative;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: width 2s ease-in-out;
}

.boxImgTumblr{
    /* border: 1px solid black; */
}


.item .text {
    position: absolute;
    right: 20px;
    bottom: 20px;
    text-align: right;
    color: white;
}

.btnActive{
    padding: .5rem;
}

.imgTumblr{
    width: 60px;
    aspect-ratio: 1/1;
    margin: .1rem;
    animation: tumblrMove 5s linear infinite;
}

.biancoNero{
    filter: grayscale(1);
    margin: .3rem;
    width: 50px;
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
    animation: tumblrMove 0s linear infinite;
}

@keyframes tumblrMove {
    0%{
        border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
    }

    14%{
        border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
    }

    28%{
        border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
    }

    42%{
        border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
    }

    56%{
        border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    }

    70%{
        border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
    }

    84%{
        border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
    }

    100%{
        border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
    }
}